<section class="outro">
  <div>
    <ul>
      <li>About</li>
      <li>Blog</li>
      <li>Jobs</li>
      <li>Press</li>
      <li>Accessibility</li>
      <li>Partners</li>
    </ul>
    <ul>
      <li><i class="fa fa-facebook-f"></i></li>
      <li><i class="fa fa-instagram"></i></li>
      <li><i class="fa fa-twitter"></i></li>
      <li><i class="fa fa-github"></i></li>
      <li><i class="fa fa-youtube"></i></li>
    </ul>
    <p>&copy; Solid Stock, Inc. All rights reserved.</p>
  </div>
</section>
